
  /* .title-underline{
    border: 0; border-top: 3px solid rgb(23,162,184);
     } */
  

  /* company services styles */
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');



 .company-services-section a {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

.company-services-section p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.company-services-section section {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.company-services-section h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
}

.company-services-section .section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.company-services-section .service a {
  color: #5b7abb;
  display: block;
}

.company-services-section .service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.company-services-section .services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.company-services-section .service {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.company-services-section .service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.company-services-section .service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.company-services-section .service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}

.company-services-section .service1:hover {
  border: 2px solid #42b7ca;
}

.company-services-section .service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

.company-services-section .service2:hover {
  border: 2px solid #425fca;
}

.company-services-section .service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

.company-services-section .service3:hover {
  border: 2px solid #9c42ca;
}

.company-services-section .service .cta span {
  font-size: 0.6rem;
}

.company-services-section .service > * {
  flex: 1 1 100%;
}

.company-services-section .service .cta {
  align-self: flex-end;
}

@media all and (max-width:900px) {
 .company-services-section  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
  
  
  